body {
    margin: 0px;
    font-family: hevetica, arial, sans-serif;
    background: #CCCCCC;
    color: #191919;
}

#nav-bar {
    background: #0080ff;
    padding: 10px 10px 0px;
    text-align: center;
}

a {
    text-decoration: none;
}

.nav-button {
    display: inline-block;
    background: #999999;
    padding: 5px;
    margin: 0px 5px;
    color: #464646;
    min-width: 150px;
}

.button-main { 
    background: #CCCCCC;
    color: #191919;
}

.content-body {
    padding: 25px;
    text-align: center;
    font-size: 18px;
}

.card-spot {
    padding: 10px;
    background: #FFFFFF;
    width: 500px;
    max-width: 95%;
    height: 100px;
    margin: 10px auto;
    vertical-align: top;
    clear: right;
}

.card-climber {
    padding: 10px;
    background: #FFFFFF;
    width: 500px;
    max-width: 95%;
    height: 200px;
    margin: 10px auto;
    vertical-align: top;
    overflow: auto;
}

.card-title {
    display: inline-block;
    font-weight: bold;
    padding: 5px;
}

.card-info {
    display: inline-block;
    background: #0080ff;
    color: #FFFFFF;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 15px;
}

.card-body {
    font-size: 14px;
    padding: 5px;
}

.card-body-title {
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
}

@media (max-width: 640px) {
    .nav-button {
        min-width: 0px;
    }
}

.form-title {
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 16px;
    clear: right;
}

.form-label {
    min-width: 70px;
    display: inline-block;
    font-size: 14px;
}

.button-add {
    background: #00cc00;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100px;
    max-width: 100%;
    margin-bottom: 20px;
    float: right;
}

.button-submit {
    background: #00cc00;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100px;
    max-width: 100%;
    margin: 15px auto;
    display: block;
}

.button-cancel {
    background: red;
    color: #FFFFFF;
    padding: 2px 6px;
    border: none;
    cursor: pointer;
    float: right;
}

.button-add:focus, .form-area input[type=text]:focus, .button-submit, .button-cancel {
    outline: none;
}

.form-div {
    display: none;
    position: fixed;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    max-width: 90%;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 10px;
}

.form-area input[type=text] {
    width: 70%;
    padding: 10px;
    margin: 5px;
    border: none;
    background: #f1f1f1;
    font-size: 16px;
}



