{% extends 'main.html' %}
{% block title %}Climbing Spots{% endblock %}
{% block content %}

<div class="content-body">
    <button class="button-add" onclick="openForm()">Add</button>
    
    {% for spot in spots['spot'] %}
    <div class="card-spot">
        <div class="card-title">{{ spot.name }}</div>
        <div class="card-body">{{ spot.location }}</div>
    </div>
    {% endfor %}
</div>

<div class="form-div" id="AddForm">
    <form action="/action_page.php" class="form-area">
        <button type="submit" class="button-cancel" onclick="closeForm()"><b>╳</b></button>
        <div class="form-title">Add A New Climbing Spot</div>
        <div>
            <span class="form-label">Name</span>
            <input type="text" name="name" required>
        </div>
        <div>
            <span class="form-label">Location</span>
            <input type="text" name="location" required>
        </div>
    <button type="submit" class="button-submit">Submit</button>
  </form>
</div>

<script>
function openForm() {
  document.getElementById("AddForm").style.display = "block";
}

function closeForm() {
  document.getElementById("AddForm").style.display = "none";
}
</script>

{% endblock %}
