{% extends 'main.html' %}
{% block title %}Climbing Spots{% endblock %}
{% block content %}

<div class="content-body">
    <a href="https://climbing-spot.auth0.com/authorize?audience=climbing&response_type=token&client_id=NAl7V4YO9ort127uVV8OS3q1nmJPZ7or&redirect_uri=https://climbing-spot-app.herokuapp.com/climbing-spots"><button id="button-signin">Sign In</button></a>
    <button id="button-signout" onclick="signOut()">Sign Out</button>
    <button class="button-add" onclick="openForm()">Add</button>
    
    {% for spot in spots['spot'] %}
    <div class="card-spot">
        <button type="submit" class="button-remove" data-id="{{ spot.id }}" onclick="removeSpot(this)"><b>Remove</b></button>
        <button type="submit" class="button-edit" data-id="{{ spot.id }}" data-name="{{ spot.name }}" data-location="{{ spot.location }}" onclick="openEdit(this)"><b>Edit</b></button>
        <div class="card-title">{{ spot.name }}</div>
        <div class="card-body">{{ spot.location }}</div>
    </div>
    {% endfor %}
</div>

<div class="form-div" id="AddForm">
    <form class="form-area">
        <button type="submit" class="button-cancel" onclick="closeForm()"><b>╳</b></button>
        <div class="form-title">Add A New Climbing Spot</div>
        <div>
            <span class="form-label">Name</span>
            <input type="text" id="climbing-spot-name" required>
        </div>
        <div>
            <span class="form-label">Location</span>
            <input type="text" id="climbing-spot-location" required>
        </div>
    <button type="submit" class="button-submit" id="submit-climbing-spot">Submit</button>
  </form>
</div>

<div class="form-div" id="EditForm">
    <form class="form-area">
        <button type="submit" class="button-cancel" onclick="closeEdit()"><b>╳</b></button>
        <div class="form-title">Edit Climbing Spot</div>
        <div>
            <span class="form-label">Name</span>
            <input type="text" id="new-climbing-spot-name" value="" required>
        </div>
        <div>
            <span class="form-label">Location</span>
            <input type="text" id="new-climbing-spot-location" value="" required>
        </div>
    <button type="submit" class="button-submit" id="edit-climbing-spot" data-id="">Change</button>
  </form>
</div>

<script>
var url = window.location.href;
console.log(url);
var access_token = ""
if(url.includes("access_token=")) {
    access_token = url.match(/\#(?:access_token)\=([\S\s]*?)\&/)[1];
}
console.log(access_token);
if(access_token != "") {
    window.localStorage.setItem('access_token', access_token);
    console.log('Stored in LocalStorage');
}
else {
    if(window.localStorage.getItem('access_token') != null) {
        access_token = window.localStorage.getItem('access_token');
    }
    console.log('Retrived from LocalStorage');
}
console.log(access_token);

var JSONurl = 'https://climbing-spot.auth0.com/.well-known/jwks.json';

$.getJSON(JSONurl, function(data) {
    var original_kid = data.keys['0']['kid'];
    console.log(original_kid);
    
    var unverified_kid ='';
    console.log(parseJwt(access_token, 1));
    if (parseJwt(access_token, 0).hasOwnProperty('kid')) { 
        unverified_kid = parseJwt(access_token, 0)['kid'];
    }
    
    console.log(unverified_kid);
    if(original_kid == unverified_kid) {
        document.getElementById("button-signout").style.display = "block";
        document.getElementById("button-signin").style.display = "none";
        console.log('Logged In');
    }
    else {
        document.getElementById("button-signout").style.display = "none";
        document.getElementById("button-signin").style.display = "block";
        console.log(unverified_kid);
        console.log('Logged Out');
    }
});

var post_climbingspot = false;
var patch_climbingspot = false;
var delete_climbingspot = false;
if (parseJwt(access_token, 1).hasOwnProperty('permissions')) { 
    var permission_array = parseJwt(access_token, 1)['permissions'];
    for(var i=0; i<permission_array.length; i++) {
        if(permission_array[i] == 'post:climbing-spot') {
            post_climbingspot = true;
        }
        else if(permission_array[i] == 'patch:climbing-spot') {
            patch_climbingspot = true;
        }
        else if(permission_array[i] == 'delete:climbing-spot') {
            delete_climbingspot = true;
        }
    }
}
if(post_climbingspot) {
    var ButtonAddArray = document.getElementsByClassName('button-add');
    for (var i=0; i < ButtonAddArray.length; i++){
        ButtonAddArray[i].style.display = 'block';
    }
    console.log('Can add climbing spot');
}
if(patch_climbingspot) {
    var ButtonAddArray = document.getElementsByClassName('button-edit');
    for (var i=0; i < ButtonAddArray.length; i++){
        ButtonAddArray[i].style.display = 'block';
    }
    console.log('Can edit climbing spot');
}
if(delete_climbingspot) {
    var ButtonAddArray = document.getElementsByClassName('button-remove');
    for (var i=0; i < ButtonAddArray.length; i++){
        ButtonAddArray[i].style.display = 'block';
    }
    console.log('Can remove climbing spot');
}
    
function parseJwt(token, n) {
    var result = "";
    if(token.includes(".")) {
        var base64Url = token.split('.')[n];
        
        var base64 = decodeURIComponent(atob(base64Url).split('').map((c)=>{
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
        }).join(''));
        
        result = JSON.parse(base64)
    }
    
    return result;
}


function signOut() {
    document.getElementById("button-signout").style.display = "none";
    document.getElementById("button-signin").style.display = "block";
    window.localStorage.setItem('access_token', '');
    console.log('JWT removed from LocalStorage');
}
function openForm() {
    document.getElementById("AddForm").style.display = "block";
}
function closeForm() {
    document.getElementById("AddForm").style.display = "none";
}
function openEdit(e) {
    document.getElementById("EditForm").style.display = "block";
    const spot_id = e.getAttribute("data-id");
    const name = e.getAttribute("data-name");
    const location = e.getAttribute("data-location");
    var elementID = document.getElementById("edit-climbing-spot");
    elementID.setAttribute('data-id', spot_id);
    var elementName = document.getElementById("new-climbing-spot-name");
    elementName.setAttribute('value', name);
    var elementLocation = document.getElementById("new-climbing-spot-location");
    elementLocation.setAttribute('value', location);
}
function closeEdit() {
    document.getElementById("EditForm").style.display = "none";
}
function removeSpot(e) {
    var result = confirm("Are you sure you want to remove this?");
    if (result) {
        var spot_id = e.getAttribute("data-id");
        fetch('/climbing-spots/' + spot_id, {
            method: 'DELETE',
            headers: {
                'Authorization': 'Bearer ' + access_token
            }
        })
        .then(function() {
            const item = e.parentElement;
            item.remove();
        });
    }
}
document.getElementById('submit-climbing-spot').onclick = function(e) {
    e.preventDefault();
    const name = document.getElementById('climbing-spot-name').value;
    const location = document.getElementById('climbing-spot-location').value;
    if (name == "" || location == "") {
        alert("Name and Location must be filled out");
    }
    else {
        fetch('/climbing-spots', {
            method: 'POST',
            body: JSON.stringify({
                'name': name,
                'location': location
            }),
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + access_token
            }
        })
        .then(function() {
            closeForm()
            window.location.reload();
        });
    }
};
document.getElementById('edit-climbing-spot').onclick = function(e) {
    e.preventDefault();
    var spot_id = e.target.getAttribute("data-id");
    const name = document.getElementById('new-climbing-spot-name').value;
    const location = document.getElementById('new-climbing-spot-location').value;
    if (name == "" || location == "") {
        alert("Name and Location must be filled out");
    }
    else {
        fetch('/climbing-spots/' + spot_id, {
            method: 'PATCH',
            body: JSON.stringify({
                'name': name,
                'location': location
            }),
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + access_token
            }
        })
        .then(function() {
            closeEdit()
            window.location.reload();
        });
    }
};
</script>

{% endblock %}
